.gridsBackground {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 240vh;
  z-index: -1;
  position: absolute;
  &__item {
    width: 1px;
    height: 100%;
    background-color: #e4e4e4;
    &--desktop {
      display: none;
      @include medium {
        display: block;
      }
    }
  }
}
