.homeWorks {
  &__container {
    width: 100%;
    position: relative;
    @include flexCenter;
  }
  &__item {
    margin-top: 20px;
    border-bottom: 1px solid var(--neutral-black);
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    @include medium {
      width: 80%;
      align-items: center;
      margin-top: 60px;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  &__name {
    font-size: 26px;
    text-transform: uppercase;
    transition: all 0.5s;
    @include medium {
      font-size: 55px;
    }
  }
  &__year {
    font-size: 18px;
  }
  &__image {
    transition: all 0.3s;
    position: absolute;
    top: -60px;
    right: 0;
    width: 0;
    opacity: 0;
  }
}
