.contactme{
    width: 100%;
    margin-top: 70px;
    @include medium{
      margin-top: 125px;
    }
    @include large{
      margin-top: 180px;
    }
    &__mainTitle{
        font-size: 30px;
        text-transform: uppercase;
        @include medium{
          font-size: 45px;
        }
        @include large{
          font-size: 55px;
        }
    }
    &__subTitle{
      margin-left: 70px;
      font-size: 25px;
      @include medium{
        font-size: 40px;
      }
      @include large{
        font-size: 60px;
      }
    }
    &__content{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 40px;
      @include medium{
        align-items: center;
      }
    }
    &__text{
      font-size: 14px;
      @include medium{
        font-size: 20px;
      }
      @include large{
        font-size: 26px;
      }
    }
    &__mail{
      font-size: 14px;
      color: var(--primary-color);
      margin-top: 40px;
      font-weight: bold;
      @include medium {
        font-size: 20px;
      }
      @include medium {
        font-size: 26px;
      }
    }
    &__socials {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      width: 150px;
      &Links {
        transition: 0.4s;
        &:hover {
          transform: scale(1.4);
        }
      }
    }
    &__image{
      width: 160px;
      @include medium{
        width: 380px;
      }
      @include large{
        width: 600px;
      }
    }
}