.spotify {
  display: none;
  @include medium {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 80px;
    bottom: 40px;
    &:hover {
      animation: spotifyTurn 6s infinite linear;
    }
  }
}

@keyframes spotifyTurn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
