.worksHero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__infos {
    margin: 0 10%;
    @include medium {
      margin: 0 120px;
    }
    @include large {
      margin: 0 200px;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 23px;
    @include medium {
      font-size: 70px;
    }
  }
  &__hashtag {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--primary-color);
    @include medium {
      font-size: 20px;
    }
  }
  &__description {
    font-family: 'Assistant';
    width: 70%;
    margin-top: 45px;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    @include medium {
      font-size: 20px;
      margin-top: 60px;
      line-height: 26px;
    }
  }
  &__image {
    position: absolute;
    z-index: -1;
    right: -140px;
    max-width: 90%;
    max-height: 60%;
    transform: rotate(18deg);
    @include medium {
      transform: rotate(8deg);
      right: -40px;
    }
  }
  &__link {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: 600;
    p {
      margin-top: 80px;
      @include medium {
        font-size: 18px;
        margin-top: 20px;
      }
      @include large {
        margin-top: 40px;
      }
    }
  }
}
