.contactme{
    width: 100%;
    margin-top: 70px;
    @include medium{
      margin-top: 125px;
    }
    @include large{
      margin-top: 180px;
    }
    &__mainTitle{
        font-size: 30px;
        text-transform: uppercase;
        @include medium{
          font-size: 45px;
        }
        @include large{
          font-size: 55px;
        }
    }
    &__subTitle{
      margin-left: 70px;
      font-size: 25px;
      @include medium{
        font-size: 40px;
      }
      @include large{
        font-size: 60px;
      }
    }
    &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__text{
      font-size: 14px;
      max-width: 50%;
      @include medium{
        font-size: 20px;
      }
      @include large{
        font-size: 26px;
      }
    }
    &__image{
      width: 160px;
      @include medium{
        width: 380px;
      }
      @include large{
        width: 600px;
      }
    }
}