* {
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-white);
  color: var(--neutral-black);
  font-family: 'Butler';
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--neutral-black);
}
