* {
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-white);
  color: var(--neutral-black);
  font-family: 'Butler';
  font-weight: 200;
  transition: all 0.3s;
  &.socoda {
    background-color: $socoda-color;
    .homeWorks__image--socoda {
      opacity: 1;
      width: 30%;
    }
    .homeWorks__name {
      color: darken($socoda-color, 40%);
      &--socoda {
        color: white;
      }
    }
    .gridsBackground {
      opacity: 0.2;
    }
  }
  &.canwebreathenow {
    background-color: $canwebreathenow-color;
    .homeWorks__image--canwebreathenow {
      opacity: 1;
      width: 30%;
    }
    .homeWorks__name {
      color: darken($canwebreathenow-color, 40%);
      &--canwebreathenow {
        color: white;
      }
    }
    .gridsBackground {
      opacity: 0.2;
    }
  }
  &.coquette {
    background-color: $coquette-color;
    .homeWorks__image--coquette {
      opacity: 1;
      width: 30%;
    }
    .homeWorks__name {
      color: darken($coquette-color, 70%);
      &--coquette {
        color: white;
      }
    }
    .gridsBackground {
      opacity: 0.2;
    }
  }
  &.mypocket {
    background-color: $mypocket-color;
    .homeWorks__image--mypocket {
      opacity: 1;
      width: 30%;
    }
    .homeWorks__name {
      color: darken($mypocket-color, 60%);
      &--mypocket {
        color: white;
      }
    }
    .gridsBackground {
      opacity: 0.2;
    }
  }

  &.gallery {
    color: var(--neutral-white);
    background-color: $gallery-color;
    .homeWorks__item {
      border-bottom: 1px solid lighten($gallery-color, 10%);
    }
    .homeWorks__image--gallery {
      opacity: 1;
      width: 30%;
    }
    .homeWorks__name {
      color: lighten($gallery-color, 10%);
      &--gallery {
        color: white;
      }
    }
  }
  .gridsBackground {
    opacity: 0.1;
  }
}

a {
  text-decoration: none;
  color: var(--neutral-black);
}
