:root {
  --neutral-black: #151515;
  --primary-color: #b8a7ea;
  --neutral-white: #f7f7f7;
}

//Color for each project
$canwebreathenow-color: #73669a;
$socoda-color: #77c199;
$coquette-color: #9fc1f6;
$mypocket-color: #ffb7b7;
$gallery-color: #151515;
