:root {
  --neutral-black: #151515;
  --primary-color: #b8a7ea;
  --neutral-white: #f7f7f7;

  //Color for each project
  --canwebreathenow-color: #73669A;
  --socoda-color: #77C199;
  --coquette-color: #9FC1F6;
  --mypocket-color: #FFB7B7;
  --gallery-color: #151515;
}
