.worksDetails {
  text-transform: uppercase;
  margin: 0 4%;
  @include medium {
    margin: 0 10%;
  }
  &Title {
    border-bottom: 1px solid var(--neutral-black);
    padding-bottom: 4px;
    font-family: Assistant;
    @include medium {
      font-size: 18px;
    }
  }
  &__title {
    width: fit-content;
    border-bottom: 1px solid var(--neutral-black);
    padding-bottom: 4px;
    font-size: 23px;
    @include medium {
      font-size: 40px;
    }
  }
  &__time {
    font-family: Assistant;
    margin-top: 20px;
    @include medium {
      font-size: 20px;
      margin-top: 40px;
    }
  }
  &__date {
    font-family: Assistant;
    width: 100%;
    border-bottom: 1px solid var(--neutral-black);
    margin-top: 10px;
    padding-bottom: 20px;
    @include medium {
      padding-bottom: 40px;
      font-size: 20px;
    }
  }
  &__color {
    width: 40px;
    height: 40px;
    @include medium {
      width: 80px;
      height: 80px;
    }
  }
  &__categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 8% 4%;
    grid-gap: 40px;
    @include medium {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  &__name {
    margin-top: 4%;
    font-family: Assistant;
    font-weight: 600;
    font-size: 30px;
  }
  &__colors {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
  }
  &__partners {
    margin-top: 4%;
  }
}
